.icon {
  position: fixed;
  top: 78vh;
  z-index: 2;
  display: flex;
  text-align: end;
  right: 0;
}

.img {
  margin-right: 1.5em;
  cursor: pointer;
  background-image: url('/images/whatsapp.png');
  background-size: cover;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-height: 500px) {
  .icon {
    position: fixed;
    top: 60vh;
    z-index: 2;
    display: flex;
    text-align: end;
    right: 0;
  }
}